
# 1.读取、写入数据

## 1.1 CSV
写入

In [3]:
import pandas as pd
import numpy as np
%matplotlib inline

In [7]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
df = pd.DataFrame(np.random.randn(5, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2012-01-31  0.075482  0.369480  0.558647  1.327107
2012-02-29  0.596323 -0.162522 -0.225905  0.188591
2012-03-31  2.494975 -0.781131  0.211544 -1.260057
2012-04-30 -0.045572  0.097192  1.062572 -0.223175
2012-05-31  0.316729 -0.749674  0.500923 -0.570862

In [8]:
# 写入
df.to_csv("foo.csv")

In [9]:
# 读取
pd.read_csv("foo.csv")

   Unnamed: 0         A         B         C         D
0  2012-01-31  0.075482  0.369480  0.558647  1.327107
1  2012-02-29  0.596323 -0.162522 -0.225905  0.188591
2  2012-03-31  2.494975 -0.781131  0.211544 -1.260057
3  2012-04-30 -0.045572  0.097192  1.062572 -0.223175
4  2012-05-31  0.316729 -0.749674  0.500923 -0.570862

In [10]:
# hdf5
df.to_hdf("foo.h5",'df')

In [11]:
a=pd.read_hdf("foo.h5","df")
a

                   A         B         C         D
2012-01-31  0.075482  0.369480  0.558647  1.327107
2012-02-29  0.596323 -0.162522 -0.225905  0.188591
2012-03-31  2.494975 -0.781131  0.211544 -1.260057
2012-04-30 -0.045572  0.097192  1.062572 -0.223175
2012-05-31  0.316729 -0.749674  0.500923 -0.570862

In [14]:
# excel 
df.to_excel("foo.xlsx",sheet_name='Sheet1')
pd.read_excel("foo.xlsx",'Sheet1',index_col=None,na_values=['NA'])

                   A         B         C         D
2012-01-31  0.075482  0.369480  0.558647  1.327107
2012-02-29  0.596323 -0.162522 -0.225905  0.188591
2012-03-31  2.494975 -0.781131  0.211544 -1.260057
2012-04-30 -0.045572  0.097192  1.062572 -0.223175
2012-05-31  0.316729 -0.749674  0.500923 -0.570862